@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JamesStroker';
  src: url('../public//fonts/James-Stroker.ttf');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
}

h1 {
  font-family: JamesStroker;
}
